<section id="carousel">
    <div class="container">
      <img src="../../assets/images/guitar_cover.jpg" alt="Home img">
    </div>
</section>

<section id="about-section">
<div class="container">
    <div class="about-info">
        <div id="about-profilepic">
            <img src="../../assets/images/profile_pic.jpg" alt="me">
        </div>
        <div id="about-textcontent">
            <h2><span class="text-primary">About </span>me</h2>
            <p>Hey there! My name is Sayantan Sarkar and welcome to my page. Together we will embark on the journey of learning music and how it makes us a better human as a whole. Hope you enjoy this rollercoaster ride ;)</p>
            <p>So I pretty much started my journey as an IIT Kharagpur undergrad majoring in Instrumentation Engineering (thats a long name though!) and trust me, it has nothing to do with instrumentals :p</p>
            <p>So in my final year of BTech, I started getting intersted towards music as a whole. Thats when I bought my first harmonica and started playing some songs on it. Thats when it hit me that I can do much better and start teaching whatever I started to know thereafer.</p>
            <p>I gradually started interested towards music theory. I started learning up all the stuff that goes behind every music and I thought it will be cool to let you guys know what I know and in this process hopefully I can get to know to know from you all.</p>
            <p>As of right now I have 2 lessons or 2 levels in music theory and more coming. Expect them to roll soon enough. I will also have a discussion forum in the future and a feedback page to improve the user experience. Till then, keep rolling!</p>
        </div>
    </div>
    
</div>
</section>
