<section id="carousel">
    <div class="container">
      <img src="../../assets/images/guitar_cover.jpg" alt="Home img">
    </div>
</section>

<section id="contact-section">
<div class="container py-2">
    <div id="contact-heading">
        <h2><span class="text-primary">Contact </span>me</h2>
    </div>
    <div id="form-details" class="py-1">
        <h3>Share your thoughts</h3>
        <form name="contact" method="POST" data-netlify="true">
            <div class="form-grp">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Your name" required>
            </div>
            <div class="form-grp">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Your email (ex: xyz@gmail.com)">
            </div>
            <div class="form-grp">
                <label for="message">Your thoughts:</label>
                <textarea name="message" rows="14" id="message" placeholder="Enter a message" required></textarea>
            </div>
            <div class="form-grp">
                <input type="submit" value="Submit" id="submit" class="btn btn-dark">
            </div>
        </form>
    </div>
    
</div>
</section>
