<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 1--Exploration still continues!
    </h2>
    <div class="icon" style="text-align:center;">
      <i class="fa fa-paper-plane fa-2x"></i>
    </div>
    <div class="card-text">
        <img src="../../../assets/images/CircleofFifth.png" class="img-fluid" alt="rest_beam" style="width:40rem;" /><br>
            <p>I guess some of you might be intimidated by this figure above, who are new to music theory or havent seen this before. I thought of giving a basic understanding of this circle in this lesson. This circle above is known as the <b>Circle of Fifths</b> and it is a very powerful 'figure' in music theory. It helps us as a mnemonic in various walks of music. In fact, you can pretty much say everything about a particular piece of music from this circle alone. As to which key a particular song is in, or which note accidentals are there in particular key, it can pretty much say anything. As a matter of fact, you dont have to memorise about anything in music. The circle of fifths gives you the answer single handedly.</p>
            <p>Thats enough of talking, so why is it called the Circle of Fifths in the first place???</p> 
            <p>Towards the outside of the circle we have the various major scales that we learnt how to construct on a given key. For now, we will not be talking about minor keys. So if you count a fifth above C you can find that it is G, From G to the next fifth it is D and so on. Also notice that the key signatures are given against each major scale. Hence the outer major scale move in a pattern of fiths. I guess now you know how the name comes about!</p>
            <p>But A&#9837; or A# is also a fifth above C, as we have seen that previously that an accidental doesnt change the interval number (work it out if you are not convinced!) So here's the catch. In fact this fifth that we have been talking about is not any kind of fifth. It is what is known as 'perfect' fifth, 'perfect' defining the quality of the interval. Cool, huh??</p>
            <p>Just like 'key signature' which identifies the key a certain piece of music is in, we have another signature viz.,time signature which identifies the timing we should follow for the beats.For example, lets look at the following example-</p>
            <img src="../../../assets/images/time_sign.png" class="img-fluid" alt="time_sign" style="width:25rem;" /><br>
            <audio controls>
                <source src="../../../assets/audio/time_sign.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Listen to the snare drum beat carefully along with the tune. The 4/4 notation written after the clef gives the basis of each beat. Also notice that there are 2 bars and they are separated by what is called a barline.The first bar consists of 4 crotchet or quarter notes and the second bar consists of 2 crotchets and 1 minim (equivalent to 2 crotchets). Thus each bar can be said to be consisting of 4 crotchet notes. So far, so good!</p>
            <p>So what does 4/4 really signify? The top '4' says that each bar consists of 4 beats. Now we already saw that each bar consists of 4 quarter notes. So, each crotchet must signify one beat. Thats exactly what the bottom '4' tells us. It says that the duration of each quarter note is equivalent to 1 beat. If the bottom number was 8, it would mean that the quaver note or eighth note is 1 beat and so on.</p>
            <p>We will now look into some common time signatures like 4/4, 3/4, 2/4 and how should we group notes in these time signatures.</p>
            <p>In 4/4 timing, since the bar is quite long, we cannot join or beam notes acroos the 2nd and the 3rd beat. For example we should be 'beaming' or grouping notes like this</p>
            <img src="../../../assets/images/beam_4by4.png" class="img-fluid" alt="beam" style="width:25rem;" /><br>
            <p>Notice that that the quavers 1 and 2 are grouped together.However the quavers 2 and 3 arent grouped together as we need to demarcate the beats 2 and 3 in 4/4.</p>
            <p>At a time 4 quavers can be beamed in 4/4 time or 2/4 time,like as follows-</p>
            <img src="../../../assets/images/beam4_4by4.png" class="img-fluid" alt="beam" style="width:30rem;" /><br>
            <p>In 3/4 timing, all quavers can be beamed ina bar and there are no restrictions on the number of quavers we can beam at a time.</p>
            <img src="../../../assets/images/beam_3by4.png" class="img-fluid" alt="beam" style="width:30rem;" /><br>
            <p>Grouping of rests also follows similar pattern in 4/4 timing, with beats 2 and 3 to be demarcated distinctly.</p>
            <img src="../../../assets/images/rest_4by4.png" class="img-fluid" alt="rest_beam" style="width:30rem;" /><br>
            <p>and <b>not</b></p>
            <img src="../../../assets/images/notrest_4by4.png" class="img-fluid" alt="rest_beam" style="width:30rem;" /><br>
            <p>In 3/4 time we need to show each beat clearly if there's a rest, like-</p>
            <img src="../../../assets/images/rest_3by4.png" class="img-fluid" alt="rest_beam" style="width:30rem;" /><br>
            <p>and <b>not</b></p>
            <img src="../../../assets/images/notrest_3by4.png" class="img-fluid" alt="rest_beam" style="width:30rem;" /><br>
    </div>
    <a (click)="gotoLessonTwo()" class="btn btn-primary">Goto Lesson 2</a>
    
    </div>
</div>
