<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 1--Exploration continues
    </h2>
    <div class="icon" style="text-align:center;">
      <i class="fa fa-paper-plane fa-2x"></i>
    </div>
    <div class="card-text">
        <p>We will now speak about major scale. A scale is constructed using notes in a certain pattern, which can be described by tones and semitones. Before looking at the major scale pattern lets try to figure it out from the C major scale.</p>
            <p>Here's how a C major scale looks and sounds like.</p>
            <img src="../../../assets/images/Cmajor_scale.png" class="img-fluid" alt="Cmajor_scale" style="width:500px;" /><br>
            <audio controls>
                <source src="../../../assets/audio/Cmajor_scale.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>As it can be seen from the above figure, there is a semitone distance only between B & C, and between E and F.</p>
            <p>Hence the major scale pattern looks like this: <b>T-T-S-T-T-T-S</b> (where T stands for Tone and S stands for Semitone)</p>
            <p>The notes of the scale are known as degrees, the first being the 1st degree or the tonic, second being 2nd degree and so on.</p>
            <p>Accordingly, the G major scale is as follows: <b>G-A-B-C-D-E-F#-G</b></p>
            <p>Next we come to intervals. The distance between any two notes is basically an interval.For example, in the following figure, the interval is a 5th, as the top note is 5 steps above (by stepping into the next space or line in succession above) from the bottom note.</p>
            <img src="../../../assets/images/fifth_interval.png" class="img-responsive" alt="fifth_interval" style="width:8rem;" /><br>
            <p>Now a question might arise in your mind, as to whether the following figure is a fifth or not<p>
            <img src="../../../assets/images/fifth_interval_sharped.png" class="img-fluid" alt="fifth_interval_sharped" style="width:8rem;" /><br>
            <p>Someone will say, clearly this is a different interval, right?? The answer is both yes and no. If we judge it from the 'quantity' or interval number alone, then it is a 5th. However, if we try to incorporate the 'quality' or the fact that the higher note is sharped, then it is somewhat 'a variation of' a fifth. Not to forget, if you try to play it on a keyboard it will sound completely different. Hence, defining a quality of an interval is as crucial as its quantity counterpart. We will look into this in later lessons.<p>
            <p>As for this level, here's how the intervals are and how they sound like-</p>
            <img src="../../../assets/images/intervals.png" class="img-fluid" alt="intervals" style="width:35rem;" /><br>
            <audio controls>
                <source src="../../../assets/audio/intervals.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Previously, we mentioned about intervals and looked into some of the intervals and heard some of them. So, what will happen if we group or bunch some of these intervals together. Thats exactly how we build chords. There's a wide variety of chords, but first lets look at how a <b>tonic triad</b> looks like.</p>
            <p>A tonic triad is made of the root, 3rd and the 5th degrees of a scale.</p>
            <p>Here's how a C major triad looks and sounds like:</p>
            <img src="../../../assets/images/Cmajor_triad.png" class="img-fluid" alt="triad" style="width:8rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Cmajor_triad.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Here's another example of a tonic triad built upon the F major scale. Notice the 'key signature' or the accidental given at the start to signify the scale we are taking into picture, viz. the F major scale. The 'F' at the top signifies the tonic or the root note upon which the triad is built.</p>
            <img src="../../../assets/images/Fmajor_triad.png" class="img-fluid" alt="triad" style="width:8rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Fmajor_triad.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Here's how a G major looks and sounds like:</p>
            <img src="../../../assets/images/Gmajor_triad.png" class="img-fluid" alt="triad" style="width:8rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Gmajor_triad.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>This sounds prettty 'heavy' because of the close spacing of the notes and playing all three at the same time. However, if we want to play it as a tune we need to 'break up' the chord. Playing a chord by breaking it up is called an <b>arpeggio</b>.</p>
            <p>A one octave arpeggio in G major will be something like this. Notice how the chord is broken up!</p>
            <img src="../../../assets/images/Gmajor_arpeggio.png" class="img-fluid" alt="arpeggio" style="width:30rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Gmajor_arpeggio.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
    </div>
    <a (click)="gotoLessonOneThree()" class="btn btn-primary">Read More</a>
    
    </div>
</div>
