<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 1--Lets begin
    </h2>
    <div class="icon" style="text-align:center;">
      <i class="fa fa-paper-plane fa-2x"></i>
    </div>
    <div class="card-text">
        <p>Music is written on a set of five lines called a <b>stave</b>.</p>
        <img src="../../../assets/images/stave_treble.png" class="img-fluid" alt="stave_treble" style="height:130px;width:300px;"/>
        <p>The symbol at the beginning of the five lines is called a <b>treble clef</b>, which is used to denote a set of higher pitched musical notes together. There are other kind of clefs used in music like the <b>bass clef</b> shown below. The bass clef unlike the treble clef is used to group together a set of lower pitched notes together.</p>
        <img src="../../../assets/images/bass_clef.png" class="img-fluid" alt="bass_clef" style="height:150px;width:300px;"/>
        <p>The following image shows the various notes on the treble clef. Below are the pitch of the notes starting from the left to the right.</p>
        <img src="../../../assets/images/treble_notes.png" class="img-fluid" alt="treble_notes" style="height:200px;width:500px;" /><br>
        <audio controls>
            <source src="../../../assets/audio/treble_notes.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <p><b>Note:</b>The second note, i.e C is also called 'middle C' and it carries significance in the musical world which will be clear as we proceed.</p>
        <p>The following image shows the various notes on the bass clef. Below are the pitch of the notes starting from the left to the right.</p>
        <img src="../../../assets/images/bass_notes.png" class="img-fluid" alt="bass_notes" style="height:150px;width:550px;" /><br>
        <audio controls>
            <source src="../../../assets/audio/bass_notes.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <p>Now perhaps the significance of the middle C can be seen. It lies midway between the treble and the bass clef and this 'ledger line' 
        somehow binds the two clefs together.</p>
        <p>So the next question that will come is how are we determining for what duration each note will be played. Here's where note values come into play. At this level, the various note values which will be introduced are-
        <p>Duration of a note is measured in the form of beats. If we take the 'crotchet' or the quarter note to be one beat, then we can define the various note values as follows</p>
        <img src="../../../assets/images/semibreve.png" class="img-fluid" alt="semibreve" style="width:8rem;" /><br>
        <p>A semibreve lasts for 4 crotchet beats.</p>
        <img src="../../../assets/images/minims.png" class="img-fluid" alt="minims" style="width:8rem;" /><br>
        <p>A minim lasts for 2 crotchet beats.</p>
        <img src="../../../assets/images/crotchets.png" class="img-responsive" alt="crotchets" style="width:10rem;" /><br>
        <p>A crotchet lasts for 1 crotchet beat, of course!.</p>
        <img src="../../../assets/images/quavers.png" class="img-fluid" alt="quavers" style="width:20rem;" /><br>
        <p>A quaver lasts for half a crotchet beat.</p>
        <p>Sometimes a dot is put after a note which increases its duration by half of its value. For example:</p>
        <img src="../../../assets/images/dotted_minim.png" class="img-fluid" alt="dotted_minim" style="width:7rem;" /><br>
        <p>Here the dotted minim will last for 3 crotchet beats (2+1)</p><br>
        <p><b>NB:</b>If at this level, any mention of beat basis is not given, assume it to be in terms of crotchet beats only. </p>
        <img src="../../../assets/images/semibreve_rest.png" class="img-fluid" alt="semibreve_rest" style="width:7rem;" /><br>
        <p>A semibreve rest lasts for 4 crotchet beats.</p>
        <img src="../../../assets/images/minims_rest.png" class="img-fluid" alt="minims_rest" style="width:7rem;" /><br>
        <p>A minim rest lasts for 2 crotchet beats.</p>
        <img src="../../../assets/images/crotchets_rest.png" class="img-fluid" alt="crotchets_rest" style="width:7rem;" /><br>
        <p>A crotchet rest lasts for 1 crotchet beat.</p>
        <img src="../../../assets/images/quavers_rest.png" class="img-fluid" alt="quavers_rest" style="width:7rem;" /><br>
        <p>A quaver rest lasts for half a crotchet beat.</p>
        <p>On a keyboard you might notice that there are black keys in between certain white notes. They help in raising the notes a 'semitone' above from the previous white key or lowering down a semitone from the next adjacent white key. </p>
        <p>A flat sign before a note lowers the note by a semitone as shown below (E- Eflat)</p>
        <img src="../../../assets/images/note_flat.png" class="img-fluid" alt="note_flat" style="width:7rem;" /><br>
        <p>A sharp sign before a note raises the note by a semitone as shown below (D- Dsharp)</p>
        <img src="../../../assets/images/note_sharp.png" class="img-fluid" alt="note_sharp" style="width:7rem;" /><br>
        <p>Here's how the keys layout are on a keyboard or piano.</p>
        <p>Notice that there are no black keys between C and D, and hence as per how we have defined semitones, D is one semitone above C. The same goes with E and F, and hence one semitone below F is E. In short E-sharp==>F and B-sharp==> C</p>
        <img src="../../../assets/images/keyboard.jpg" class="img-fluid" alt="keyboard" style="max-width:20rem;" /><br>
    </div>
    <a (click)="gotoLessonOneTwo()" class="btn btn-primary">Read More</a>
    
    </div>
</div>
