<div id="prevent-overflow">
	<nav id="navbar" class="bg-primary">
		<h1 class="logo">
			muSSical
		</h1>
		<ul class="nav-links" #nav>
			<li (click)="closeMenu()"><a routerLink="/">Home</a></li>
			<li (click)="showDropdown()" class="dropdown" #dropdown>Lessons <i class="fa fa-angle-down"></i>
				<ul (click)="closeMenu()" id="lesson-list" #lessons>
					<li><a routerLink="/lesson1">Lesson 1</a></li>
					<li><a routerLink="/lesson2">Lesson 2</a></li>
					<!-- <li><a href="lesson3.html">Lesson 3</a></li> -->
				</ul>
			</li>
			<li (click)="closeMenu()"><a routerLink="/about">About</a></li>
			<li (click)="closeMenu()"><a routerLink="/contact">Contact</a></li>
		</ul>
		<div (click)="showMenu()" class="hamburger-menu" #menu>
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>

  <router-outlet></router-outlet>

    <footer id="main-footer" class="bg-dark text-center py-1">
        <div class="container">
                <p>Copyright &copy; 2019,muSSical,All Rights Reserved</p>
        </div>
	</footer>

</div>
