<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 2--Lets navigate further!
    </h2>
    <div class="icon" style="text-align:center;">
        <i class="fa fa-location-arrow fa-2x"></i>
      </div>
    <div class="card-text">
        <p>In lesson 1, we studied about major scales which are constructed using tones and semitones following a certain pattern. In this section, we will talk about <b>minor scales</b>.</p>
            <p>Minor keys can be of different variations. The <b>natural minor scale</b> is constructed using tones and semitones in the pattern: <b>T-S-T-T-S-S-T-T</b>.</p>
            <p>So here's how the A natural minor scale looks and sounds like-</p>
            <img src="../../../assets/images/Aminor_scale.png" class="img-fluid" alt="Aminor_scale" style="width:500px;" /><br>
            <audio controls>
                <source src="../../../assets/audio/Aminor_scale.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Here's how the E natural minor scale looks and sounds like-</p>
            <img src="../../../assets/images/Eminor_scale.png" class="img-fluid" alt="Eminor_scale" style="width:500px;" /><br>
            <audio controls>
                <source src="../../../assets/audio/Eminor_scale.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>If we look at the key signatures of these above minor scales, we can see that the key signature of A minor is the same as C major, and that of E minor to be same as that of G major. We will find similar relationship with other scales also (try it out!)</p>
            <p>This brings us to the concept of relative major and minor scales. A <b>relative minor scale</b> of a particular major scale is constructed in the following manner: Count down three half steps or semitones from the tonic of the major scale and bingo! You get the tonic of the relative minor scale.</p>
            <p>So Counting down 3 half steps below C (B-A#-A) brings us to A and hence A minor scale is the relative minor scale of C major. Cool, right?!?</p>
            <p>Minor scales can be of various kinds. We looked into natural mnor scale. Now, we look into something called harmonic minor scale. A <b>harmonic minor scale</b> is the same of the natural minor scale but with the 7th degree raised up by a semitone.</p>
            <p>Here's how the A harmonic minor scale looks and sounds like-</p>
            <img src="../../../assets/images/A_h_minor_scale.png" class="img-fluid" alt="A_h_minor_scale" style="width:500px;" /><br>
            <audio controls>
                <source src="../../../assets/audio/A_h_minor_scale.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Previously, we discussed about intervals and looked at the quantity aspect of it, like 3rd, 5th etc. However lets look at the following figure.</p>
            <img src="../../../assets/images/major_2nd.png" class="img-fluid" alt="major_2nd" style="width:10rem;"/><br>
            <p>Its a 2nd interval, no doubt about that. Now lets look at the following one-</p>
            <img src="../../../assets/images/minor_2nd.png" class="img-fluid" alt="minor_2nd" style="width:10rem;"/><br>
            <p>Its also a 2nd. So how do we differentiate between the two intervals which are 'based' on the same note A?</p>
            <p>So here's how we resolve that. The first one is called a <b>major 2nd</b> because the higher note is the 2nd degree of the major scale based on A. Notice that there are <b>2 half steps or semitones</b> between A and B.</p>
            p>So how do we define the second (figure!) one. Remember, that one half step less than a major interval makes it a minor interval. So the latter one from A-A#/Bb is a <b>minor 2nd</b>.
            <p>Lets look at the following example now-</p>
            <img src="../../../assets/images/major_3rd.png" class="img-fluid" alt="major_3rd" style="width:10rem;"/><br>
            <p>The interval is a fifth, of course. We also find that the E is the third 3rd degree of the major scale based on C. Hence the interval is called a <b>major 3rd</b>. Also note that the two notes are 5 semitones or half steps apart.</p>
            <p>So we can already guess now what the following interval will be called-</p>
            <img src="../../../assets/images/minor_3rd.png" class="img-fluid" alt="minor_3rd" style="width:10rem;"/><br>
            <p>Its a <b>minor 3rd interval</b>. A major 3rd interval reduced by a semitone makes it a minor 3rd interval. However we can achieve the minor interval by putting # accidental on C too.</p>
            <img src="../../../assets/images/minor_3rd_2.png" class="img-fluid" alt="minor_3rd_2" style="width:10rem;"/><br>
            <p>The above is also a minor 3rd interval as it contains 5 semitones between them. The following is a fifth, however its not called major in this case, although technically the higher note is the fifth degree of the major scale based on the bottom note.</p>
            <img src="../../../assets/images/perfect_fifth.png" class="img-fluid" alt="perfect_fifth" style="width:10rem;"/><br>
            <p>Typically major is not associated with 5ths and this is particularly what is known as a <b>perfect fifth</b>. It consists of seven semitones in between the notes. A semitone less will make it a <b>diminished fifth</b>.</p>
            <p>Majors and minors are generally associated with 2nd, 3rd, 6th and 7th.
            <br>On the other hand, perfect and diminished are associated with 4th, 5th and octaves.</p>
            <p>A simplest way to know the various major, and perfect intervals is to compare it with the C Major Scale. Notes in C major scale are at major or perfect intervals from the root note C. For ex: C to D is a major 2nd, C to E is a major 3rd, C to A is major 6th and so on. From this note intervals we can get the number of half steps present in a particular interval. A minor version of it will be mere 1 semitone or half-step less than that.</p>
    </div>
    <a (click)="gotoLessonTwoThree()" class="btn btn-primary">Read More</a>
    
    </div>
</div>
