<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 2--Lets navigate now!
    </h2>
    <div class="icon" style="text-align:center;">
      <i class="fa fa-location-arrow fa-2x"></i>
    </div>
    <div class="card-text">
        <p>In the previous lesson, we talked about accidentals, viz, sharps and flats. However, if we dont 'undo' the accidental we have given then the same accidental will continue for the same note in that measure. For example lets look at the figure below-</p>
            <img src="../../../assets/images/nonat_sign.png" class="img-fluid" alt="nonat_sign" style="width:25rem;" /><br>
            <audio controls>
                <source src="../../../assets/audio/nonat_sign.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>If you listen carefully you will find that the first crotchet note sounds exactly the same as the last crotchet note as we havent nullified the sharp that we have put in the beginning. So in order to resolve the note to the 'natural' form we do as below.In the following figure, by using &#9838; we have converted the last G sharp note to G(natural)</p>
            <img src="../../../assets/images/nat_sign.png" class="img-fluid" alt="nat_sign" style="width:25rem;" /><br>
            <audio controls>
                <source src="../../../assets/audio/nat_sign.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Now, coming to notes, we have seen how quavers ir eigth notes beamed in four looks like. Each quaver can be grouped into two notes, each of which is called a <b>semiquaver</b>. This is how semiquvers beamed in four looks like-</p>
            <img src="../../../assets/images/semiquaver_2by4.png" class="img-fluid" alt="semiquaver_2by4" style="width:25rem;" />
            <p>We will speak about <b>tie</b> now. A tie is basically what its name signifies. It 'ties' notes together, in the sense that it lengthens the <b>same pitched notes</b> together. It ties near the note-heads.</p>
            <img src="../../../assets/images/tie.png" class="img-fluid" alt="tie" style="width:25rem;" />
            <p>More than often, ties are used to sustain a particular note across measures as can be seen from the figure above and should be avoided in general unless and until there is a lack of a particular note to signify the duration.</p>
            <p>Next lets look into some note and rest groupings.</p>
            <img src="../../../assets/images/group_3by8.png" class="img-fluid" alt="group_3by8" style="width:25rem;"/>
            <p>From the time signature, we can see that each beat equals one eighth note and there should be 3 quaver beats per measure.Also note how the quaver beats are grouped in 3 and not written separately.</p>
            <p>Ties should generally be avoided until and unless necessary. Like, we <b>shouldn't</b> tie notes like this-</p>
            <img src="../../../assets/images/not_tie_3by8.png" class="img-fluid" alt="not_tie_3by8" style="width:25rem;"/>
            <p>but instead it <b>should</b> be like the following-</p>
            <img src="../../../assets/images/correct_tie_3by8.png" class="img-fluid" alt="correct_tie_3by8" style="width:25rem;"/>
            <p>Rests shouldn't be grouped together to skip beats, however they should give a proper picture of each and every beat.</p>
            <img src="../../../assets/images/correct_rest_3by8.png" class="img-fluid" alt="correct_rest_3by8" style="width:25rem;"/>
            <p>Grouping doesn't need to be over-exaggerated. For example, in 2/2 (mathematically its 4/4 too) we can get away with minim rest and we dont need to break them into crotchet beats. However, we have to take care that 2nd and the 3rd crotchet beats are properly separated.</p>
            <img src="../../../assets/images/minimrest_2by2.png" class="img-fluid" alt="minimrest_2by2" style="width:25rem;"/>
            <p>Here the &#119093; signifies 2/2 timing.</p>
            <p>In music often a same series of notes are repeated over and over again to accompany certain tunes. This pattern is known as <b>ostinato</b>. Notice how the same pattern of three notes are repeated in the second bar.</p>
            <img src="../../../assets/images/ostinato.png" class="img-fluid" alt="ostinato" style="width:25rem;"/>
            <p>Next we come to another important musical concept called <b>syncopation</b>. Syncopation is pattern where notes are thrown as offbeats(i.e. after or before the main beat). It is done to make the music more vibrant and interesting. Look at the following figure.</p>
            <img src="../../../assets/images/synco.png" class="img-fluid" alt="synco" style="width:25rem;" /><br>
            <audio controls>
                <source src="../../../assets/audio/synco.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
    </div>
    <a (click)="gotoLessonTwoTwo()" class="btn btn-primary">Read More</a>
    
    </div>
</div>
