<div class="card">
    <div class="container">
    <h2 class="lesson-heading text-primary py-2">
        Level 2--Exploring the unexplored
    </h2>
    <div class="icon" style="text-align:center;">
        <i class="fa fa-location-arrow fa-2x"></i>
      </div>
    <div class="card-text">
        <p>In the previous lesson, we discussed about major triads. Continuing with that, we will talk about minor keys now.</p>
            <img src="../../../assets/images/Aminor_triad.png" class="img-fluid" alt="Aminor_triad" style="width:10rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Aminor_triad.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>The above is a A minor triad with the root(A), 3rd(C) and 5th(E) degrees of the A minor scale. Notice the key signature.</p>
            <p>However, an A minor triad can have the triad notes in any register, for which the following figure is also an A minor triad where the A note is one octave up. This is what is known as the <b>first inversion</b> of A minor triad, first because the root is being changed by one octave.</p>
            <img src="../../../assets/images/Aminor_triad_1stinv.png" class="img-fluid" alt="Aminor_triad_1stinv" style="width:10rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Aminor_triad_1stinv.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Similarly this is an E minor triad. Notice the accidental in the time signature.</p>
            <img src="../../../assets/images/Eminor_triad.png" class="img-fluid" alt="Eminor_triad" style="width:10rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Eminor_triad.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>We also have one-octave arpeggio in minor scales. For instance, the D minor scale arpeggio-</p>
            <img src="../../../assets/images/Dminor_arpeggio.png" class="img-fluid" alt="Dminor_arpeggio" style="width:25rem;"/><br>
            <audio controls>
                <source src="../../../assets/audio/Dminor_arpeggio.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <p>Now that we have seen major and minor arpeggios, we will look into something called <b>broken chords</b>. A broken chord is literally breaking up into chunks and forming a pattern out of those. For example, the following is what can be called an E minor broken chord in a one-octave arpeggio pattern.</p>
            <img src="../../../assets/images/Eminor_broken_chord.png" class="img-fluid" alt="Eminor_broken_chord" style="width:30rem;"/><br>
            <p>Note that triad notes are used in building up the broken chord above.</p>
    </div>
    <!-- <a href="lesson3.html" class="btn btn-primary">Goto Lesson 3</a> -->
    
    </div>
</div>
